<h2>Listado de Ordenes</h2>

<h4>Número de Órden</h4>
<ul>
    <% @orders.each do |order| %>
    <li><%= link_to order.order_number, order_path(order.id) %></li>
    <% end %>
</ul>

<%= link_to 'Nueva Orden', new_order_path() %>