<% if @creatives != nil && @creatives.length > 0 %>
<h2>Listado de Creativos</h2>
<h4>Nombre del Creativo</h4>
<ul>
    <% @creatives.each do |creative| %>
        <% if !creative.new_record? %>
            <li><%= creative.creative_name %><span> <%= link_to 'Lineas', new_order_creative_line_path(@order, creative)  %> </span></li>
        <% end %>
    <% end %>
</ul>
<% end %>